<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize-css@2.3.1/normalize.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css">
  <link rel="stylesheet" href="./assets/common.css">
  <style>
    .slick-prev:before,
    .slick-next:before {
      color: rgba(0,0,0,0.5);
    }
    .slick-next {
      right: 150px;
    }
    .slick-prev {
      left: 100px;
      z-index: 1;
    }
    .slick-dots {
      bottom: 10px;
    }
    .item img{
      text-align: center;
      margin: auto;
    }
  </style>
</head>
<body>
  <div class="wrapper">
    <div class="sample-slick">
      <div class="slick carousel">
        <div>
          <div class="item item__blue">
            <%= image_tag ("cherry_blossom.jpg" ) %>
          </div>
        </div>
        <div>
          <div class="item item__yellow">
            <%= image_tag ("festival_people.jpg" ) %>
          </div>
        </div>
        <div>
          <div class="item item__red">
            <%= image_tag ("men_with_umbrella.jpg" ) %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script type="text/javascript">
    $(document).ready(() => {
      $(".sample-slick .slick").slick({
        infinite: true, // ループの有効化
        dots: true, // ドットインジケーターの表示
      });
    });
    $(document).ready(() => {
      $(".sample-slick-fade .slick").slick({
        infinite: true, // ループの有効化
        dots: true, // ドットインジケーターの表示
        fade: true, // フェードアニメーションを有効化
      });
    });
  </script>