<style>
*{

}

body {

}

.header { 
    display:flex;
    justify-content:space-between;

}

h1 {
    font-size:40px;

}

.right-up {
    font-size:25px;
    align-items:center;
}

.right-up  a{
    font-size:16px;
    padding:5px;
    margin:10px;
    Background-color:#CCFFFF;

}

.right-up a:hover {
    font-size:16px;
    padding:5px;
    margin:10px;
    color:gray;
}

</style>

<div class="header">
<h1 class="h1">伝灯士</h1>
<nav class="right-up">
<a href="#">伝統リスト</a>
<a href="#">伝統を追加する</a>
</nav>
</div>

<%= render "shared/slideShow" %>

<%= render "shared/map" %>

</div>