<style>
*{

}

body {

}

.header { 
    display:flex;
    justify-content:space-between;

}

h1 {
    font-size:40px;

}

.right-up {
    font-size:25px;
    align-items:center;
}

</style>

<div class="header">
<h1 class="h1">HOME PAGE</h1>
<nav class="right-up">
<a href="#">Docs</a>
<a href="#">Examples</a>
<a href="#">Blog</a>
</nav>
</div>

<%= render "shared/slideShow" %>

<%= render "shared/nagoyaMap" %>

